body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
h1 {
    font-size: 70px;
    padding: 10px;
    border:3px solid #ccc;
    color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
}